version: '3.8'

services:
  web:
    image: villa-agency-ci-cd-graph
    container_name: web
    ports:
      - "80:80"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  blackbox:
    image: prom/blackbox-exporter
    container_name: blackbox
    volumes:
      - ./blackbox/blackbox.yml:/etc/blackbox_exporter/config.yml
    ports:
      - "9115:9115"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
